#rodape {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
    color: #808080;
}

#rodape a {
    text-decoration: none;
    color: #808080;
    border-bottom: 1px solid #808080;
}

#rodape a {
    color: #808080;
}