#carrossel {
    margin-top: 2em;
}

#carrossel .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#carrossel img {
    width: 100%;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #carrossel {
        margin-top: 2.5em;
    }
}
